apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
nodeRegistration:
  name: {{ groups["master"][0] }}
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
apiServer: {}
clusterName: {{ cluster_name }}
controlPlaneEndpoint: {{ groups["master"][0] }}:6443
controllerManager:
  extraArgs:
  - name: node-cidr-mask-size-ipv4
    value: "{{ node_cidr_mask_size_v4 }}"
  - name: node-cidr-mask-size-ipv6
    value: "{{ node_cidr_mask_size_v6 }}"
networking:
  dnsDomain: cluster.local
  podSubnet: {{ pod_subnet | default("10.42.0.0/16") }}
  serviceSubnet: {{ service_subnet | default("10.43.0.0/16") }}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
serverTLSBootstrap: true
rotateCertificates: true
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
mode: "ipvs"
ipvs:
  strictARP: true